body {
    font-family: cursive;
    font-size: 16px;
    background-image: url("images/4.png");
    background-color: #fafafa;
    background-repeat: no-repeat;
    background-position-x: 68%;
    background-position-y: 64%;
}

#myContainer {
    width: 80%;
    height: 300px;
    position: relative;
    margin-bottom: 1em;
}

#attackerBee {
    width: 0px;
    height: 0px;
    position: absolute;
}

#defenderBee {
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0;
    right: 0;
}

.btn-grad {
    background-image: linear-gradient(to bottom right, red, #4a1a1a);
    width: 9em;
    color: #e6e6e6;
    font-family: cursive;
    height: 3em;
    margin: 0 auto;
    border: 0;
    border-radius: 16px;
    font-weight: bold;
}

#player_name {
    width: 300px;
    text-align: center;
    margin: 0 auto;
}

#global_container {
    width: 85%;
    text-align: center;

}

#infos {
    float: left;
    width: 11%;
    height: 100%;

}

#game {
    width: 80%;
    height: 300px;
    position: relative;
    margin: 0 auto;
    padding-top: 5%;
}

#history {
    float: right;
    width: 14%;
}

#center {
    width: 60%;
    border: 1px solid gray;
    display: inline-block;
    margin: 0 auto;

}

.dealt_damage {
    color: red;
    font-style: italic;
}

#history_section{
    text-align: left;
    overflow: scroll;
    overflow-x: hidden;
    height: 365px;
}

.bee_type {
    color:#6a5acd;
}

/* Float cancel and delete buttons and add an equal width */
.yesbtn  {
    background-image: linear-gradient(to bottom right, green, #4a1a1a);
    width: 9em;
    color: #e6e6e6;
    font-family: cursive;
    height: 3em;
    margin: 0 auto;
    border: 0;
    border-radius: 16px;
    font-weight: bold;
  }
  .nobtn {
    background-image: linear-gradient(to bottom right, red, #4a1a1a);
    width: 9em;
    color: #e6e6e6;
    font-family: cursive;
    height: 3em;
    margin: 0 auto;
    border: 0;
    border-radius: 16px;
    font-weight: bold;
  }
  .container {
    padding: 16px;
    text-align: center;
  }
  .modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: #474e5d;
    padding-top: 50px;
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 80%; 
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
   
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  @media screen and (max-width: 300px) {
    .yesbtn, .nobtn {
       width: 100%;
    }
  }

@media screen and (max-width: 992px) {
    #global_container {
        width: 100%;
        padding: 2%;
    }
}